__pycache__
.DS_Store
.mypy_cache/
.vscode
*.pyc
accern_xyme.egg-info/
build/
dist/

# Typescript
.yalc/
*.d.ts
!packages/typescript/index.d.ts
*.js
*.js.map
*.log
node_modules/
package-lock.json
yalc.lock

# ipython
.ipynb_checkpoints/
*.csv
*.ipynb
